.button {
  width: 100px;
  height: 32px;
  padding: 8px 16px;
  color: #18191B;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  &:active {
    background-color: darken(rgb(239, 239, 239), 15%);
  }

  @media screen and (min-width: 1024px) {
    &:hover {
      background-color: darken(rgb(239, 239, 239), 15%);
    }
  }
}
