@import "../styles/mixins";

.card-one {
	@include cardTemplate;
	background-color: lightcyan;
	
	a {
		text-decoration: none;
		color: black;
		cursor: default;
	}
}

.card-many {
	@include cardTemplate;
	a {
		text-decoration: none;
		color: black;
		cursor: pointer;
	}
	
	&:active {
		background-color: lightcyan;
	}
	
	@media screen and (min-width: 1024px) {
		&:hover {
			background-color: lightcyan;
		}
	}
}