@mixin cardTemplate {
	width: 80%;
	margin: 4px auto;
	padding: 0 3%;
	border: 2px solid;
	border-radius: 8px;
	line-height: 2em;
	
	@media screen and (max-width: 991px) {
		width: 90%;
		font-size: 14px;
	}
	@media screen and (max-width: 575px) {
		p {
			font-size: 12px;
		}
	}
}