.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	label {
		width: 100%;
		text-align: center;
	}
	
	form {
		width: 350px;
		height: 70px;
		display: flex;
		margin-top: 4px;
		
		.input-wrapper {
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			
			input {
				height: 32px;
				font-size: 18px;
			}
		}
		
		.form-buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-content: space-between;
		}
	}
}